@font-face {
  font-family: "DuFont";
  src: url("/bold.ttf") format("truetype");
  /* Corrected 'ttf' format to 'truetype' */
}

/* Second Font Face (Regular) */
@font-face {
  font-family: "DuFontRegular";
  src: url("/reg.ttf") format("truetype");
  /* Added the second font */
}


.image-hair {
  opacity: 0;
  animation: fadeIn 2s forwards;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.heading-text {
  margin-top: 6rem;
}



p {
  margin-block-end: 0;
  font-size: 20px;
  font-family: "t26-carbon", monospace;
  text-align: justify;
}


h2 {
  font-family: "DuFont", serif;
}

li {
  padding-top: 1rem;
  text-align: justify;
}

ol {
  font-family: t26-carbon, monospace;
  font-size: 20px;
}

.loading-img {
  color: #f6f4eb;
}



div.dragfile {
  color: pink;
}




body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "DuFont", serif;
  display: flex;
  flex-direction: column;
  background: #000;
}

button {
  font-family: "DuFont", serif;
}

input {
  font-family: "DuFont", serif;
}

button.chat-button {
  background: black;
}

.chat-button {
  margin-top: 3rem;
  background: #000;
  box-shadow: inset 0 0 30px pink;
  align-self: center;
}




.text-prompt-form {
  display: flex;

  margin: 0 10px;
  box-sizing: border-box;
  text-align: center;
}



.chat-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.animated-textarea-container {
  position: relative;
  width: 100%;
}

.animated-text-container {
  position: relative;
  width: 100%;
  text-align: center;
  color: #f6f4eb;
  vertical-align: middle;
  margin-top: 4%;
  line-height: 1;
}

.gpt-input::placeholder {
  color: pink;
}

.animated-text {
  padding: 0 6rem;
  font-size: 3rem;
  pointer-events: none;
  opacity: 1;
  color: #0099ff;
  font-family: "DuFont", serif;
}

.attachment-icon {
  position: absolute;
  right: 10px;
  /* Position it to the right inside the input */
  cursor: pointer;
}

.animated-text span {
  opacity: 0;
  display: inline-block;
  animation: fadeInWords 0.6s ease-in-out forwards;
  line-height: 1;
}

.animated-placeholder {
  font-size: 2rem;
  padding-top: 10px;
  line-height: 1;
  opacity: 1;

  font-family: "DuFont", serif;
}

.animated-placeholder span {
  display: inline-block;
  opacity: 0;
  animation: fadePInWords 8s ease-in-out infinite;
}

/* Animation for smooth fade-in and fade-out */
@keyframes fadePInWords {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInWords {
  0% {
    opacity: 0;
    transform: translateY(10px);
    /* Optional: subtle upward motion */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* styles in globals.css */
@keyframes fadeInWord {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-word {
  opacity: 0;
  /* Initially invisible */
  animation: fadeInWord 0.6s ease-in-out forwards;
  /* Apply fade-in effect */
  display: inline-block;
}

.chat-container {
  display: flex;

  flex-direction: column;
}

.chat-title {
  text-align: center;
  color: pink;
  margin-bottom: 20px;
  font-family: "DuFont", serif;
  font-size: 3rem;
  text-transform: uppercase;

  line-height: 1;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}




.message {
  max-width: 60%;
  padding: 10px;
  margin: 20px 0;
  word-wrap: break-word;
  animation: messagefadeIn 0.8s forwards;
  /* Smooth fade-in effect */
}

@keyframes messagefadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.message.ai {
  background-color: #0099ff;
  align-self: flex-start;
  font-family: "DuFont";
  font-size: 3rem;
}



.message.user {
  font-family: "DuFont";
  font-size: 3rem;
  background-color: pink;
  color: #000;
  align-self: flex-end;
  line-height: 1;
  padding-top: 18px;
}

.chat-textarea {
  width: 100%;
  margin-bottom: 3rem;
  height: 300px;

  border: 2px solid;
  color: #f6f4eb;
  background: #000;
}

.chat-button {
  border-radius: 50%;
  color: pink;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3rem;
  border: none;

  font-size: 3rem;
}

.chat-response {
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  border: 2px solid;
}




.gpt-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0 15%;
}



.button-container {
  display: flex;
  justify-content: center;
}

.gpt-drag-subtext {
  font-size: 0.875rem;
  color: #718096;

}

.gpt-message-container {
  display: flex;

  width: 100%;

  flex-direction: column;
  justify-content: space-between;
}

.gpt-message-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  align-items: center;
  overflow-y: scroll;
}

.gpt-message {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 1rem;
}

.gpt-first-message {
  padding-top: 20px;
}

.gpt-icon-container {
  width: 100%;

  color: #f6f4eb;
}

.gpt-message-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.gpt-attachments {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

img.gpt-file-image {
  box-shadow: 0 0 30px pink;
  font-family: t26-carbon, monospace;
  border-radius: 30px;
  color: pink !important
}

.gpt-image {
  width: 40% !important;
  border-radius: 50px;
  margin-top: 2rem;
  box-shadow: 0 0 20px 3px pink;
  margin-bottom: 12px;
}

.gpt-text-preview {
  font-size: 0.75rem;
  width: 10rem;
  height: 6rem;
  overflow: hidden;
  color: #f6f4eb;
  border: 2px solid;
  /* Light gray */
  padding: 8px;
  background-color: #f6f4eb;
}

div.homey {
  position: absolute;
  font-size: 3rem;
  top: 10px;
  left: 10px;
  color: pink;
}

.flower {
  font-size: 3rem;
  margin: 3rem 0;
  color: yellow;
  text-align: center;
}

.gpt-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.gpt-input-form {
  margin-top: 3rem;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gpt-input {
  width: 60vw;
  padding: 2rem;
  background-color: #000;
  border-radius: 50px;

  display: block;
  margin: 1rem;
  outline: none;
  box-shadow: inset 0 10px 100px pink;
  color: pink;
  margin-top: 10px;
  font-size: 20px;
  font-family: t26-carbon, monospace;
  min-height: 200px;
  text-align: CENTER;
  border: none;
}

.gpt-file-preview {
  display: flex;
  flex-direction: row;
  gap: 8px;

  padding: 3rem 0;

  padding: 20px 0;

  width: 100%;
}

.gpt-file-image {
  width: 40%;
  border: 2px solid #f6f4eb;
}

.uploadtips {
  margin-top: 3rem;
  color: #f6f4eb;
  font-size: 20px;
  font-family: t26-carbon, monospace;
}

.gpt-file-text-preview {
  font-size: 0.5rem;
  width: 7rem;
  height: 4rem;
  overflow: hidden;
  color: #f6f4eb;
  border: 2px solid;
  padding: 8px;
  background-color: #000;
}

.fade-word {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Form visibility classes */
.chat-input-form {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.5s ease;
}

.chat-input-form.visible {
  opacity: 1;
  visibility: visible;
}

.chat-input-form.hidden {
  opacity: 0;
  visibility: hidden;
}

.fade-word {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Form visibility classes */
.chat-input-form {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.5s ease;
}

.chat-input-form.visible {
  opacity: 1;
  visibility: visible;
}

.chat-input-form.hidden {
  opacity: 0;
  visibility: hidden;
}

.gpt-message-content {
  max-width: 60%;
}

.gpt-message-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Space between messages */
}

.gpt-message.user .gpt-name {
  padding-right: 5px;
  text-align: right;
  color: pink;
  font-family: t26-carbon, monospace;
}

.gpt-message.assistant .gpt-name {
  padding-left: 5px;
  text-align: left;
  color: pink;
  font-family: t26-carbon, monospace;
}

.gpt-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gpt-message.user {
  align-items: flex-end;
  /* Align user messages to the right */
}

.gpt-message.assistant .gpt-message-content {
  color: #f6f4eb;
}

.gpt.-text {
  font-size: 2rem;
}



div.gpt-name {
  color: #f6f4eb;
}

/* Styling for bot/assistant messages */
.bot-message {
  padding: 2rem;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-block-start: 0;
  opacity: 1;
  will-change: auto;
  color: pink;
  transform: none;
  box-shadow: inset 0 5px 50px pink;
}



div.image-hair {
  background: #000;
  height: 100vh;
}

.user-message {
  margin-block-start: 0;
  padding: 2rem;
  border-radius: 30px;
  margin-bottom: 10px;
  opacity: 1;
  will-change: auto;
  box-shadow: inset 0 0 20px 3px pink;
  transform: none;
  color: pink;
}



/* CSS for Museum Art Application */

.art-message-container {
  display: flex;

  width: 100%;

  flex-direction: column;
  justify-content: space-between;
}

.art-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0 15%;
}

.art-attachments {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.art-upload-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
}


.art-button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
}

button.art-button {
  background: black;
}

.art-button {

  background: #000;
  box-shadow: inset 0 0 30px pink;
  align-self: center;
  color: pink;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  padding: 3rem;
}

.art-drag-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}


.art-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.art-modal-content {
  background: #fff;
  padding: 20px;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  text-align: left;
}


.art-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.art-input-form {
  margin-top: 3rem;
}

.gpt-input {
  width: 60vw;
  padding: 2rem;
  background-color: #000;
  display: block;
  margin: 1rem;
  outline: none;
  box-shadow: inset 0 10px 100px pink;
  color: pink;
  margin-top: 10px;
  font-size: 20px;
  font-family: t26-carbon, monospace;
  text-align: CENTER;
  border: none;
}